In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [33]:
df.transpose()  # sprawdzenie zawartości dla danych z dużą liczbą kolumn

,0,1,2,3,4,5,6,7,8,9,...,385,386,387,388,389,390,391,392,393,394
school,GP,GP,GP,GP,GP,GP,GP,GP,GP,GP,...,MS,MS,MS,MS,MS,MS,MS,MS,MS,MS
sex,F,F,F,F,F,M,M,F,M,M,...,F,F,F,F,F,M,M,M,M,M
age,18,17,15,15,16,16,16,17,15,15,...,18,18,19,18,18,20,17,21,18,19
address,U,U,U,U,U,U,U,U,U,U,...,R,R,R,U,U,U,U,R,R,U
famsize,GT3,GT3,LE3,GT3,GT3,LE3,LE3,GT3,LE3,GT3,...,GT3,GT3,GT3,LE3,GT3,LE3,LE3,GT3,LE3,LE3
Pstatus,A,T,T,T,T,T,T,A,A,T,...,T,T,T,T,T,A,T,T,T,T
Medu,4,1,1,4,3,4,2,4,3,3,...,2,4,2,3,1,2,3,1,3,1
Fedu,4,1,1,2,3,3,2,4,2,4,...,2,4,3,1,1,2,1,1,2,1
Mjob,at_home,at_home,at_home,health,other,services,other,other,services,other,...,at_home,teacher,services,teacher,other,services,services,other,services,other
Fjob,teacher,other,other,services,other,other,other,teacher,other,other,...,other,at_home,other,services,other,services,services,other,other,at_home
reason,course,course,other,home,home,reputation,home,home,home,home,...,other,reputation,course,course,course,course,course,course,course,course
guardian,mother,father,mother,mother,father,mother,mother,mother,mother,mother,...,mother,mother,mother,mother,mother,other,mother,other,mother,father
traveltime,2,1,1,1,1,1,1,2,1,1,...,2,3,1,1,2,1,2,1,3,1
studytime,2,2,2,3,2,2,2,2,2,2,...,3,1,3,2,2,2,1,1,1,1
failures,0,0,3,0,0,0,0,0,0,0,...,0,0,1,0,1,2,0,3,0,0
schoolsup,yes,no,yes,no,no,no,no,yes,no,no,...,no,no,no,no,no,no,no,no,no,no
famsup,no,yes,no,yes,yes,yes,no,yes,yes,yes,...,no,yes,no,yes,no,yes,no,no,no,no
paid,no,no,yes,yes,yes,yes,no,no,yes,yes,...,yes,yes,no,yes,no,yes,no,no,no,no
activities,no,no,no,yes,no,yes,no,no,no,yes,...,no,yes,yes,no,yes,no,no,no,no,no
nursery,yes,no,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,no,yes,yes,yes,no,no,no,yes
higher,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,...,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes
internet,no,yes,yes,yes,no,yes,yes,no,yes,yes,...,no,yes,yes,yes,no,no,yes,no,yes,yes
romantic,no,no,no,yes,no,no,no,no,no,no,...,no,yes,no,no,no,no,no,no,no,no
famrel,4,5,4,3,4,5,4,4,4,5,...,5,4,5,4,1,5,2,5,4,3
freetime,3,3,3,2,3,4,4,1,2,5,...,3,4,4,3,1,5,4,5,4,2
goout,4,3,2,2,2,2,4,4,2,1,...,3,3,2,4,1,4,5,3,1,3
Dalc,1,1,2,1,1,1,1,1,1,1,...,1,2,1,1,1,4,3,3,3,3
Walc,1,1,3,1,2,2,1,1,1,1,...,3,2,2,1,1,5,4,3,4,3
health,3,3,3,5,5,5,3,1,1,5,...,4,5,5,1,5,4,2,3,5,5
absences,6,4,10,2,4,10,0,6,0,0,...,2,7,0,0,0,11,3,3,0,5
G1,5,5,7,15,6,15,12,6,16,14,...,10,6,7,7,6,9,14,10,11,8
G2,6,5,8,14,10,15,12,5,18,15,...,9,5,5,9,5,9,16,8,12,9
G3,6,6,10,15,10,15,11,6,19,15,...,10,6,0,8,0,9,16,7,10,9

## Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [61]:
df.loc[:, "school":"guardian"]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

## Step 5.

In [40]:
capitalize_my = lambda string_tuple: list(map(capitalize, string_tuple))

## Step 6.

In [41]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(capitalize_my)

         Mjob      Fjob
0     At_home   Teacher
1     At_home     Other
2     At_home     Other
3      Health  Services
4       Other     Other
..        ...       ...
390  Services  Services
391  Services  Services
392     Other     Other
393  Services     Other
394     Other   At_home

[395 rows x 2 columns]

## Step 7.

In [25]:
df.tail(n=10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,At_home,Other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,Services,Other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,Other,Other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,Services,Services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,Services,Services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,Other,Other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,Other,At_home,...,3,2,3,3,3,5,5,8,9,9

## Step 9.

In [43]:
df['legal_drinker'] = df['age'].apply(lambda x: x>17)

## Step 10.

In [49]:
from pandas.api.types import is_numeric_dtype

In [60]:
df.iloc[:, df.apply(is_numeric_dtype).values] * 10

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,180,40,40,20,20,0,40,30,40,10,10,30,60,50,60,60,10
1,170,10,10,10,20,0,50,30,30,10,10,30,40,50,50,60,0
2,150,10,10,10,20,30,40,30,20,20,30,30,100,70,80,100,0
3,150,40,20,10,30,0,30,20,20,10,10,50,20,150,140,150,0
4,160,30,30,10,20,0,40,30,20,10,20,50,40,60,100,100,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,200,20,20,10,20,20,50,50,40,40,50,40,110,90,90,90,10
391,170,30,10,20,10,0,20,40,50,30,40,20,30,140,160,160,0
392,210,10,10,10,10,30,50,50,30,30,30,30,30,100,80,70,10
393,180,30,20,30,10,0,40,40,10,30,40,50,0,110,120,100,10
394,190,10,10,10,10,0,30,20,30,30,30,50,50,80,90,90,10